include ../templates/secondnavbar

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |         
    title Chat Room
    |                  
    link(href='css/chatroom.css', rel='stylesheet')
    |
    link(href='css/main.css', rel='stylesheet')
    |         
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
    |
    link(href='https://api.fontshare.com/v2/css?f[]=comico@400&f[]=bespoke-stencil@700,400&f[]=boxing@400&f[]=telma@700,400&f[]=zina@400&display=swap', rel='stylesheet')
    |         
    script(src='js/chatroom.js')
  |     
  body
    .main
      +secondnavBar   
      |
      h2  Chat room 
      |
      a.sortbttn(href=`/chatroom?page=${page}&sort=likes` )  Sort by Likes ♡
       
      .container            
        ul.lst-of-posts
          each post in posts 
            li.posted(style='width: 70vw')
              .user @#{post.username}
              .message=post.post 
              - const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
              - const time = post.startTime.toLocaleString('en-US', options)
              .time=time
              .like
                button.likebttn(type='button' id=`${post.id}`) #{post.like_count} ♡ Like

      if page
        if page >= 2
          a(href=`/chatroom?page=${page - 1}` id="more-pages") prev
        a(href=`/chatroom?page=${page + 1}` id="more-pages") next


         